/* .policy {
    font-family: 'Arial' sans-serif !important;
    margin: 20px;
    padding: 0 15px 0 15px;
    h4 {
        text-align: center;
    }
    h5 {
        font-family: 'Arial' sans-serif;
    }
    &__points {
        margin: 16px;
        font-family: 'Arial' sans-serif;
    }
} */